body {
    font-family: 'Orbitron', sans-serif;
    /* background-image: url(../images/connectwork.png); */
    background-image: url(../images/matrix.gif);
}

#center-column, #score-screen {
    background-color: rgb(31, 175, 31);
    text-align: center;
    font-size: 25pt;
}

#score-screen {
    font-size: 50pt;
}

p {
    font-size: 25pt;
}


h1, .footer {
    text-align: center;
}

.footer {
    color: white;
}

.btn {
    width: auto;
    margin: auto;
}

.col-lg-8 {
    background: green;
}

#timer {
    margin: auto;
    font-size: 25pt;
    text-align: center;
    width: 200px;
    border-width: 2px;
    border-color: black;
    border-style: ridge;
}

table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
    color: white;
  }
  th, td {
    padding: 15px;
    text-align: center;
    font-size: 25pt;
  }